section
    section
        h3 Booleanos
        p.fragment As variáveis booleanas expressam coisas verdadeiras ou falsas
        p.fragment São usadas para controlar fluxos ou salvar informação binária
    section
        h3 Booleanos
        pre
            code.javascript
                include ../../Code/Variaveis2_bool.js
