section
    section
        h3 Strings
        p.fragment Os strings (ou cadeias de letras) são o jeito que se tem para guardar texto
        p.fragment Podem ser tão compridas como seja necessário
        p.fragment Muitas coisas podem ser salvas como strings, mas recomenda-se deixar este tipo de dados só para expressões alfanuméricas
    section
        h3 Strings
        pre
            code.javascript
                include ../../Code/Variaveis3_string.js
