section
    section
        h3 Arrays
        p.fragment Os Arrays são conjuntos de dados ordenados
        p.fragment Podem ser de múltiplos tipos, inclusive podem estar misturados
    section
        h3 Arrays
        pre
            code.javascript
                include ../../Code/Variaveis4_array.js

