section
    section
        h3 Objetos
        p.fragment Os Objetos são um conceito simples mais poderoso
        p.fragment Eles estão presentes em muitas linguagens, que são conhecidas como orientadas a objetos
        p.fragment Para uma linguagem ser COMPLETAMENTE orientada a objetos, tem que suportar várias propriedades dos objetos
        p.fragment JavaScript é orientada a objetos completa
        p.fragment Vamos focar só nas coisas mais básicas
    section
        h3 Objetos
        pre
            code.javascript
                include ../../Code/Variaveis5_object.js

