section
    section
        h3 Expressões de controle
        p.fragment As expressões de controle definem quando um determinado código vai ser executado ou não
        p.fragment Para uma linguagem ser chamada de programação precisa ter expressões de controle
        p.fragment É aqui que vamos usar as expressões booleanas
    section
        h3 Expressões de controle
        pre
            code.javascript
                include ../../Code/Control.js

