section
    section
        h3 Laços de repetição
        p.fragment Programar é fundamentalmente um ato de preguiça
        img.fragment(src="img/Gates.jpg", alt="", height="450px")
    section
        h3 Laços de repetição
        pre
            code.javascript
                include ../../Code/Loops.js

