section
    section
        h3 Funções
        p.fragment As funções são ferramentas extremamente poderosas e completam a lista básica de coisas que o JavaScript sabe fazer
        p.fragment As funções em programação são semelhantes às funções matemáticas (em seus usos mais simples)
        p.fragment Aqui uma dica: Se aparece duas vezes, é melhor que vire função
    section
        h3 Funções
        pre
            code.javascript
                include ../../Code/Functions.js

