section
  section
    h3 O que é programar?

    p.fragment Descrever como fazer uma tarefa
    p.fragment Por exemplo, programar uma viagem é descrever a sequência de passos que vamos realizar em dita viagem
    p.fragment Programar contém condições iniciais e objetivos a alcançar
    p.fragment Como é uma sequência de passos, quer dizer que vamos de um ESTADO inicial a um ESTADO final
