section
    section
        h3 Algoritmos

        p.fragment Algoritmo é o conceito <em>matemático</em>, descreve uma sequência de passos ordenada, mecânica, não ambígua, precisa, eficiente e correta de realizar uma tarefa. (Dasgupta, Papadimitriou e Vazirani, 2010)
        p.fragment O conceito foi formalizado em 1936 por Alan Turing
        p.fragment Ou seja, programar é o ato de IMPLEMENTAR algoritmos
