section
    section
        h3 Que é uma linguagem de programação?
        p.fragment Neste contexto, uma linguagem de programação é uma convenção ENTRE PESSOAS de como expressar ideias
        p.fragment É em essência uma LINGUAGEM, quer dizer:
        ul
            li.fragment Nem todo mundo fala ela, nem teria porque
            li.fragment Posso expressar o mesmo nela ou em outra
            li.fragment Tem linguagens mais cômodas para expressar algumas coisas que outras

    section
        h3 Que é uma linguagem de programação?
        ul
            li.fragment Tem sintaxes e semântica. Importa tanto o que eu quero dizer como a forma e as palavras usadas
            li.fragment Tem gramática que pode ser entendida e estudada
            li.fragment Tem várias formas de dizer o mesmo, umas melhores que outras
            li.fragment Tem problemas de ambiguidade
