section
    section
        h3 A linguagem JavaScript
        p#cen JavaScript para programação web: HTML, CSS e JavaScript.

    section
        h3 A linguagem JavaScript
        p Primeiro temos o HTML
        pre
            code.html.
                &lt;html&gt;
                    &lt;head&gt;
                        &lt;meta charset="utf-8"&gt;
                        &lt;title&gt;HTML&lt;/title&gt;
                    &lt;/head&gt;
                &lt;body&gt;
                    &lt;h2&gt;Umas imagens com HTML&lt;/h2&gt;
                    &lt;p&gt;HTML está feito para escrever o conteúdo das coisas e dar uma
                    formatada básica. Por exemplo aqui temos um título (tipo h2) e
                    um parágrafo. Também temos umas imagens&lt;/p&gt;
                    &lt;img src="images/HTML5a.jpg" alt="HTML5a"&gt;
                    &lt;img src="images/HTML5b.jpg" alt="HTML5b"&gt;
                    &lt;img src="images/HTML5c.jpg" alt="HTML5c"&gt;
                    &lt;img src="images/HTML5d.jpg" alt="HTML5d"&gt;
                &lt;/body&gt; &lt;/html&gt;

    section
        h3 A linguagem JavaScript
        p Depois temos o CSS
        pre
            code.css.verbatim
                include ../../Code/Web/HTMLCSS.css
                    
    section
        h3 A linguagem JavaScript
        p Para finalmente ter o JavaScript
        pre
            code.javascript.verbatim
                include ../../Code/Web/HTMLCSSJavaScript.js

    section
        h3 A linguagem JavaScript
        img(src="img/tolvards.jpg", alt="Tolvards")
