section
    section
        h3 Hello World!
        p É costume para os programadores que o primeiro código de teste é um Hello World, então vamos lá
    section
        h3 Hello World!
        p O HTML
        pre
            code.html.
                &lt;html&gt;
                &lt;body&gt;
                    &lt;script type="text/javascript" src="HelloWorld.js"&gt;
                    &lt;/script&gt;
                &lt;/body&gt;
                &lt;/html&gt;
    section
        h3 Hello World!
        p O JavaScript. Como é tão simples, não vamos ter CSS
        pre
            code.javascript
                include ../../Code/HelloWorld.js
