section
    section
        h3 Começando com JavaScript
        p A partir daqui ignoraremos os arquivos HTML, já que serão simplesmente um arquivo para invocar o JavaScript. Vamos então fazer um pouco de código
    section
        h3 Saída de código
        pre
            code.javascript
                include ../../Code/Comentarios.js
    section
        h3 Hello Pepe!
        pre
            code.javascript
                include ../../Code/HelloPepe.js
