section
    section
        h3 Variáveis em Javacript
        p.fragment Na linguagem JavaScript precisamos trabalhar com valores.
        p.fragment Estes valores podem ser um nome, um número ou qualquer outro tipo de informação que precisemos. 
        p.fragment Para identificar este valores usamos variáveis.
        p.fragment As variáveis de programação são semelhantes às do cálculo, mas estas tem um ESTADO associado, então podemos dizer que são funções do estado.
    section
        h3 Números
        pre
            code.javascript
                include ../../Code/Variaveis1_numbers1.js
    section
        h3 Números
        pre
            code.javascript
                include ../../Code/Variaveis1_numbers2.js
    section
        h3 Números
        pre
            code.javascript
                include ../../Code/Variaveis1_numbers3.js
