doctype html
html
  include inc/head
  body
    .reveal
      .slides
        include ../slides/1-presentation
        include ../slides/2-language_types
        include ../slides/3-programming
        include ../slides/4-algorithms
        include ../slides/5-program_language
        include ../slides/6-javascript_web
        include ../slides/7-Hello_World
        include ../slides/8-html
        include ../slides/9-numbers              
        include ../slides/10-bool
        include ../slides/11-string
        include ../slides/12-array
        include ../slides/13-object
        include ../slides/14-control
        include ../slides/15-loop
        include ../slides/16-functions
        include ../slides/17-exercices

    include inc/scripts
