.content {
    max-width: 1024px;
    margin: auto;
    background: white;
    padding: 10px;
}

.title {
    font-size: xx-large;
    text-align: center;
    font-family: Georgia;
    color: #db6630;
}

.text {
    font-size: x-large;
    font-family: Georgia;
}

.img {
    border-radius: 10%;
    border: 2px solid #cc7422;
    width: 200px;
    margin-left: 10px;
}

.container {
    text-align: center;
}
